{% extends "blog/base.html" %} {% load static %} {% block content %}
<div class="profile-container">
  <div class="profile-header">
    <img
      src="{% static 'images/default.jpg' %}"
      alt="Profile Picture"
      class="profile-avatar"
    />
    <h2>{{ user.username }}</h2>
    <p>{{ user.email }}</p>

    <a href="{% url 'edit-profile' %}" class="btn-edit">Edit Profile</a>
  </div>

  <div class="profile-details">
    <h3>Account Details</h3>
    <ul>
      <li><strong>Username:</strong> {{ user.username }}</li>
      {% if user.first_name %}
      <li><strong>First Name:</strong> {{ user.first_name }}</li>
      {% endif %} {% if user.last_name %}
      <li><strong>Last Name:</strong> {{ user.last_name }}</li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
